body {
    background-color: #eeeee0;
    color: black;
    background-image: url("http://bit.ly/2xWENgN");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }

.title-graphic {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.bio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.biophoto {
     background-color: #cdcdc1;
     max-width: 40%;
     max-height: 40%;
     text-align: center;
     margin: 0.30%;
     border: 3px ridge black;
     line-height: 1.80;
     padding-left: 20px;
     padding-right: 20px;
  }

  img {
      max-width: 60%;
      max-height: 60%;
  }
  
  footer {
      text-align: center;
      position: fixed;
      height: 20px;
      background-color: grey;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin-bottom: 0px;
     
  }
  
  
  
  
  
  